@import 'variables';

.tally
{
    border: 4px ridge $guacMedGreen;
    padding: 4px;
    height: 40px;
    
    >div
    {
        background-color: $guacDarkGreen;
        height: 100%;
        width: 50px;
        margin-right: 4px;
        margin-bottom: 1rem;
    }
}